{% extends "base.html" %}

{% block content %}

  <main>

    <div class="container">
      <div class="table-responsive text-nowrap">
        <h2>Ваш заказ</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Название</th>
              <th scope="col">Цена</th>
              <th scope="col">Количество</th>
              <th scope="col">Общая цена</th>
            </tr>
          </thead>

          <tbody>

          {% for order_product in object.products.all %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ order_product.product.name }}</td>
              <td>{{ order_product.product.price }} сом</td>
              <td>
                <a href="{% url 'products:remove-single-item-from-cart' order_product.product.slug %}">-</a>
                {{ order_product.amount }}
                <a href="{% url 'products:add-to-cart' order_product.product.slug %}">+</a>
              </td>
              <td>{{ order_product.get_total_item_price }} сом
                <a style='color: red;' href="{% url 'products:remove-from-cart' order_product.product.slug %}">#</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan='5'>Здесь пусто</td>
            </tr>
            <tr>
              <td colspan="5">
                <a class='btn btn-primary float-right' href='/'>На главную</a>
            </td>
            </tr>
          {% endfor %}
          {% if object.get_total %}
            <tr>
              <td colspan="4"><b>Всего:</b></td>
              <td><b>{{ object.get_total }} сом</b></td>
            </tr>
            <tr>
              <td colspan="5">
                <a class='btn btn-warning float-right ml-2' href='#'>Оформить заказ</a>
                <a class='btn btn-primary float-right' href='/'>На главную</a>
              </td>
            </tr>
          {% endif %}

          </tbody>
        </table>
      </div>
    </div>

  </main>

{% endblock content %}
