{% extends "base.html" %}
{% block content %}
<div class="row">

<ul class="nav flex-column">
  <li class="nav-item">
    {% for category in cat_bar %}
    <a class="nav-link" href="{% url 'product_category' slug=category.slug %}">{{ category.name }}</a>
    {% endfor %}
  </li>
</ul>
{% for picture in products %}
  <div class="col-sm-4">
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ picture.mini_picture.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ picture.name }}</h5>
     <p class="card-text">{{ picture.desc }}</p>
    <p style="text-align: right; margin-right: 10px; font-family: Roboto; font-size:1.2em;">Цена: {{ picture.price }} сом</p>
    <a href="{% url 'product_detail' picture.pk %}" class="btn btn-primary">Посмотреть товар</a>
  </div>
</div>

  </div>
{% endfor %}
</div>



{% endblock %}
