{% extends "base.html" %}

{% block content %}

<div class="row">


  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ product.mini_picture.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.desc }}</p>
        <p style="text-align: right; margin-right: 10px; font-family: Roboto; font-size:1.2em;">Цена: {{ product.price }} сом</p>
        <a href="#" class="btn btn-primary">Заказать</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}
