{% extends "base.html" %}

{% block content %}


		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="owl-carousel owl-theme s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ product.picture.url }}" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{ product.name }}</h3>
						<h2>{{ product.price }} coм</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Категория:</span>{{ product.category }}</a></li>
						</ul>
						<p>{{ product.desc }}</p>
						<div class="product_count">
							<a class="button primary-btn" href="{{ product.get_add_to_cart_url }}">Добавить в корзину</a>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
