{% extends "base.html" %}

{% block content %}

<div class="row">

<ul class="nav flex-column">
  <li class="nav-item">
    {% for category in categories %}
    <a class="nav-link" href="{% url 'products:cat_products' slug=category.slug %}">{{ category.name }}</a>
    {% endfor %}
  </li>
</ul>

{% for product in products %}

  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ product.mini_picture.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.desc }}</p>
        <p style="text-align: right; margin-right: 10px; font-family: Roboto; font-size:1.2em;">Цена: {{ product.price }} сом</p>
        <a href="{% url 'products:product_detail' pk=product.pk %}" class="btn btn-primary">Посмотреть товар</a>
        <a href="{{ product.get_add_to_cart_url }}" class="btn btn-primary">Добавить в корзину</a>
      </div>
    </div>
  </div>

{% endfor %}

</div>

{% endblock %}
