{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  {% for ordered in take_order_list %}
    <div class="card-body">
      <ul class="list-group mb-3 z-depth-1">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <span class="text-muted">Информация:</span>
          <span>{{ ordered.name }}</span>|<span>{{ ordered.phone }}</span>|
          <span>{{ ordered.address }}</span>|<span>{{ ordered.created_date }}</span>|
          <strong><span>{{ ordered.status }}</span></strong>
        </li>
        {% for order_product in ordered.products.all %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{ order_product.amount }} x {{ order_product.product.name }}</h6>
              <small class="text-muted">{{ order_product.product.desc }}</small>
            </div>
            <span class="text-muted">{{ order_product.get_final_price }} сом</span>
        </li>
        {% endfor %}

        <li class="list-group-item d-flex justify-content-between">
            <span>Всего:</span>
            <strong>{{ ordered.get_total }} сом</strong>
        </li>
        <a href="{% url 'products:remove-order' pk=ordered.pk %}" class="btn btn-primary">Отказаться от заказа</a>
      </ul>
    </div>
  {% endfor %}

{% endblock %}
