{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!--================Order Details Area =================-->

  <section class="order_details section-margin--small">
    <div class="container">
      <div class="filter-bar d-flex flex-wrap align-items-center">
        <div>
          <form action="{% url 'products:search_products' %}" method="get">
            <div class="input-group filter-bar-search">
              <input name="q" type="text" placeholder="Поиск" aria-label="Search">
              <div class="input-group-append">
                <button href="{% url 'products:search_products' %}" type="submit"><i class="ti-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row mb-5">
        {% for ordered in take_order_list %}
        <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
          <div class="confirmation-card">
            <h3 class="billing-title">Заказ № {{ ordered.id }}</h3>
            <table class="order-rable">
              <tr>
                <td>Имя</td>
                <td>: {{ ordered.name }}</td>
              </tr>
              <tr>
                <td>Дата</td>
                <td>: {{ ordered.created_date }}</td>
              </tr>
              <tr>
                <td>Статус</td>
                <td><b>: {{ ordered.status }}</b></td>
              </tr>
            </table>
            <div class="blog_details">
            <a class="button button-blog" href="{% url 'products:order_detail' pk=ordered.pk %}">Посмотреть</a>
            </div>
          </div>
        </div>
         {% endfor %}
      </div>
    </div>
  </section>
  <!--================End Order Details Area =================-->

{% endblock %}
