{% extends "base.html" %}

{% block content %}


  <!--================Blog Categorie Area =================-->
  <section class="blog_categorie_area">
    <div class="container">
      <div class="container">
        <div class="section-intro pb-60px">
          <h2><span class="section-intro__style">Магазины</span></h2>
        </div>
      </div>
      <div class="row">
        {% for store in stores %}
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" style="border: solid 1px #818182; margin-right: 10px">
            <div class="card card-blog">
                <img class="card-img rounded-0" src="{{ store.mini_avatar.url }}">
                <h4 style="text-align: center;" class="card-blog__title"><a href="{% url 'products:product_category' slug=store.slug %}">{{ store.name }}</a></h4>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--================Blog Categorie Area =================-->

  <section class="subscribe-position">
    <div class="container">
      <div class="subscribe text-center">
        <h3 class="subscribe__title">Хотите стать курьером?</h3>
        <p>Заполните анкету и получите шанс вступить в наши ряды!</p>
        <a href="{% url 'products:delivery-form' %}">
          <button class="button button-subscribe mr-auto mb-1" type="submit">Заполнить анкету</button>
        </a>
      </div>
    </div>
  </section>

{% endblock %}
