# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\delivery_project\inel_delivery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
